@{
    ViewBag.Title = "Bookie | eCommers";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bookies | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets_home/img/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    @if (Session["lang"].ToString() == "0")
    {
        <main>
            <!--? slider Area Start -->
            <div class="slider-area ">
                <div class="slider-active">
                    <!-- Single Slider -->
                    <div class="single-slider slider-height d-flex align-items-center slide-bg">
                        <div class="container">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                    <div class="hero__caption">
                                        <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Good Books  <hr />Good Life</h1>
                                        <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">A person who won’t read has no advantage over one who can’t read. (Mark Twain)</p>
                                        <!-- Hero-btn -->
                                        <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                            <a href="@Url.Action("Shop","Home")" class="btn hero-btn">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                    <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                        <img src="~/assets_home/img/hero/rsz_—pngtree—books_in_the_library_3760888.png" alt="" class=" heartbeat">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slider -->
                    <div class="single-slider slider-height d-flex align-items-center slide-bg">
                        <div class="container">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                    <div class="hero__caption">
                                        <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Good Books  <hr />Good Life</h1>
                                        <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">A person who won’t read has no advantage over one who can’t read. (Mark Twain)</p>
                                        <!-- Hero-btn -->
                                        <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                            <a href="@Url.Action("Shop","Home")" class="btn hero-btn">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                    <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                        <img src="~/assets_home/img/hero/rsz_—pngtree—books_in_the_library_3760888.png" alt="" class=" heartbeat">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider Area End-->
            <!-- ? New Product Start -->
            <section class="new-product-area section-padding30">
                <div class="container">
                    <!-- Section tittle -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section-tittle mb-70">
                                <h2>New Arrivals</h2>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/assets_home/img/gallery/book4.png" alt="">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">The Black Swan</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/assets_home/img/gallery/book1.png" alt="">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">The Warburgs And The House Of Morgan</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/assets_home/img/gallery/book3.png" alt="">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">The Phoenix Project</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </section>
            <!--  New Product End -->
            <!--? Gallery Area Start -->

            <div class="gallery-area">
                <div class="container-fluid p-0 fix">
                    <div class="row">
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery mb-30">
                                <img class="gallery-img big-img" src="~/assets_home/img/gallery/gallery1.png" />
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery mb-30">
                                <img class="gallery-img big-img" src="~/assets_home/img/gallery/cover_book1.jpg" />
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
                                    <div class="single-gallery mb-30">
                                        <img class="gallery-img small-img" src="~/assets_home/img/gallery/cover_book2.jpg" />
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12  col-md-6 col-sm-6">
                                    <div class="single-gallery mb-30">
                                        <img class="gallery-img small-img" src="~/assets_home/img/gallery/cover_book3.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <!-- Gallery Area End -->
            <!--? Popular Items Start -->
            <div class="popular-items section-padding30">
                <div class="container">
                    <!-- Section tittle -->
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8 col-md-10">
                            <div class="section-tittle mb-70 text-center">
                                <h2>Popular Items</h2>
                                <p>Good books, like good friends, are few and chosen; the more select, the more enjoyable.<hr /></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <img src="~/assets_home/img/gallery/popular2.jpg" alt="">
                                    <div class="img-cap">
                                        <span style="background-color:rgba(176, 41, 41, 0.59)"><a href="#"><i class="fa fa-shopping-cart" style="font-size:30px"></i></a></span>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">Book Thief</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <img src="~/assets_home/img/gallery/popular1.jpg" alt="">
                                    <div class="img-cap">
                                        <span style="background-color:rgba(135, 14, 14, 0.84)"><a href="#"><i class="fa fa-shopping-cart" style="font-size:30px"></i> PURCHASE</a></span>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">Bank 4.0</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <img src="~/assets_home/img/gallery/popular2.jpg" alt="">
                                    <div class="img-cap">
                                        <span style="background-color:rgba(176, 41, 41, 0.59)"><a href="#"><i class="fa fa-shopping-cart" style="font-size:30px"></i></a></span>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">Book Thief</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="row justify-content-center">
                        <div class="room-btn pt-70">
                            <a href="@Url.Action("Shop","Home")" class="btn view-btn1">View More Products</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popular Items End -->
            <!--? Video Area Start -->
            <div class="video-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="video-wrap">
                                <div class="play-btn "><a class="popup-video" href="https://www.youtube.com/watch?v=Hjc03nySrbw"><i class="fas fa-play"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Arrow -->
                    <div class="thumb-content-box" style="background-color:#ad2e2e">
                        <div class="thumb-content">
                            <h3>Next Video</h3>
                            <a href="#"> <i class="flaticon-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video Area End -->
            <br />
            <hr />
            <br />
            <!--? Shop Method Start-->
            <div class="shop-method-area">
                <div class="container">
                    <div class="method-wrapper">
                        <div class="row d-flex justify-content-between">
                            <div class="col-xl-4 col-lg-4 col-md-6" style="background-color:#ad2e2e">
                                <div class="single-method mb-40">
                                    <i class="ti-package"></i>
                                    <h6>Free Shipping Method</h6>
                                    <p>Free Shipping With The Receipt More Than 50$.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6" style="background-color:#ad2e2e">
                                <div class="single-method mb-40">
                                    <i class="ti-unlock"></i>
                                    <h6>Secure Payment System</h6>
                                    <p>Your Information Will Be Safety With Us.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6" style="background-color:#ad2e2e">
                                <div class="single-method mb-40">
                                    <i class="ti-reload"></i>
                                    <h6>Quality Assurance</h6>
                                    <p>The Best Quality With The Best Price.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shop Method End-->
        </main>
    }
    else
    {
        <main>
            <!--? slider Area Start -->
            <div class="slider-area ">
                <div class="slider-active">
                    <!-- Single Slider -->
                    <div class="single-slider slider-height d-flex align-items-center slide-bg">
                        <div class="container">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                    <div class="hero__caption">
                                        <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Sách Tốt  <hr />Cuộc Đời Tốt</h1>
                                        <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Một người không đọc sách thì chẳng hơn gì một người không biết chữ. (Mark Twain)</p>
                                        <!-- Hero-btn -->
                                        <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                            <a href="@Url.Action("Shop","Home")" class="btn hero-btn">Mua Ngay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                    <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                        <img src="~/assets_home/img/hero/rsz_—pngtree—books_in_the_library_3760888.png" alt="" class=" heartbeat">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slider -->
                    <div class="single-slider slider-height d-flex align-items-center slide-bg">
                        <div class="container">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                    <div class="hero__caption">
                                        <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Good Books  <hr />Good Life</h1>
                                        <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">A person who won’t read has no advantage over one who can’t read. (Mark Twain)</p>
                                        <!-- Hero-btn -->
                                        <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                            <a href="@Url.Action("Shop","Home")" class="btn hero-btn">Mua Ngay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                    <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                        <img src="~/assets_home/img/hero/rsz_—pngtree—books_in_the_library_3760888.png" alt="" class=" heartbeat">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider Area End-->
            <!-- ? New Product Start -->
            <section class="new-product-area section-padding30">
                <div class="container">
                    <!-- Section tittle -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section-tittle mb-70">
                                <h2>Sách Mới</h2>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/assets_home/img/gallery/book4.png" alt="">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">Quạ Đen</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/assets_home/img/gallery/book1.png" alt="">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">Gia Tộc Rockefeller</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/assets_home/img/gallery/book3.png" alt="">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="@Url.Action("Shop","Home")">Dự Án Phượng Hoàng</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </section>
            <!--  New Product End -->
            <!--? Gallery Area Start -->

            <div class="gallery-area">
                <div class="container-fluid p-0 fix">
                    <div class="row">
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery mb-30">
                                <img class="gallery-img big-img" src="~/assets_home/img/gallery/gallery1.png" />
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-gallery mb-30">
                                <img class="gallery-img big-img" src="~/assets_home/img/gallery/cover_book1.jpg" />
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
                                    <div class="single-gallery mb-30">
                                        <img class="gallery-img small-img" src="~/assets_home/img/gallery/cover_book2.jpg" />
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12  col-md-6 col-sm-6">
                                    <div class="single-gallery mb-30">
                                        <img class="gallery-img small-img" src="~/assets_home/img/gallery/cover_book3.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <!-- Gallery Area End -->
            <!--? Popular Items Start -->
            <div class="popular-items section-padding30">
                <div class="container">
                    <!-- Section tittle -->
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8 col-md-10">
                            <div class="section-tittle mb-70 text-center">
                                <h2>Phổ Biến</h2>
                                <p>Một quyển sách tốt như một người bạn tốt . Tuy ít nhưng phải có chọn lọc .<hr />Chọn càng nhiều thì càng thích thú</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <img src="~/assets_home/img/gallery/popular2.jpg" alt="">
                                    <div class="img-cap">
                                        <span style="background-color:rgba(176, 41, 41, 0.59)"><a href="#"><i class="fa fa-shopping-cart" style="font-size:30px"></i></a></span>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a href="product_details.html">Book Thief</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <img src="~/assets_home/img/gallery/popular1.jpg" alt="">
                                    <div class="img-cap">
                                        <span style="background-color:rgba(135, 14, 14, 0.84)"><a href="#"><i class="fa fa-shopping-cart" style="font-size:30px"></i> Mua</a></span>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a href="product_details.html">Bank 4.0</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <img src="~/assets_home/img/gallery/popular2.jpg" alt="">
                                    <div class="img-cap">
                                        <span style="background-color:rgba(176, 41, 41, 0.59)"><a href="#"><i class="fa fa-shopping-cart" style="font-size:30px"></i></a></span>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a href="product_details.html">Book Thief</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="row justify-content-center">
                        <div class="room-btn pt-70">
                            <a href="@Url.Action("Shop","Home")" class="btn view-btn1">Xem Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popular Items End -->
            <!--? Video Area Start -->
            <div class="video-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="video-wrap">
                                <div class="play-btn "><a class="popup-video" href="https://www.youtube.com/watch?v=Hjc03nySrbw"><i class="fas fa-play"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Arrow -->
                    <div class="thumb-content-box" style="background-color:#ad2e2e">
                        <div class="thumb-content">
                            <h3>Video Tiếp Theo</h3>
                            <a href="#"> <i class="flaticon-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video Area End -->
            <br />
            <hr />
            <br />
            <!--? Shop Method Start-->
            <div class="shop-method-area">
                <div class="container">
                    <div class="method-wrapper">
                        <div class="row d-flex justify-content-between">
                            <div class="col-xl-4 col-lg-4 col-md-6" style="background-color:#ad2e2e">
                                <div class="single-method mb-40">
                                    <i class="ti-package"></i>
                                    <h6>Free Shipping Method</h6>
                                    <p>Miễn phí vận chuyển cho đơn hàng trên 500.000 đồng.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6" style="background-color:#ad2e2e">
                                <div class="single-method mb-40">
                                    <i class="ti-unlock"></i>
                                    <h6>Secure Payment System</h6>
                                    <p>Thông tin của bạn sẽ được bảo đảm an toàn.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6" style="background-color:#ad2e2e">
                                <div class="single-method mb-40">
                                    <i class="ti-reload"></i>
                                    <h6>Quality Assurance</h6>
                                    <p>Luôn luôn mang đến những sản phẩm tốt nhất với giá rẻ nhất.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shop Method End-->
        </main>
    }

</body>
</html>

