@model IEnumerable<Final.Models.Sach>
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<html>
<body>
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Book Shop</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                    <div class="properties__button">
                        <!--Nav Button  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">NewestArrivals</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Price high to low</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Most populer </a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                    <!-- Grid and List view -->
                    <div class="grid-list-view">
                    </div>
                    <!-- Select items -->
                    <div class="select-this">
                        <form action="@Url.Action("Shop","Home")">
                            <div class="select-itms">
                                <select name="quantityBook" id="quantityBook">
                                    <option value="6">6 per page</option>
                                    <option value="9">9 per page</option>
                                    <option value="12">12 per page</option>
                                    <option value="15">15 per page</option>
                                </select>
                                <input type="submit" value="Confirm" class="genric-btn info circle " style="background-color:#327aa9;border-radius:8px" />

                            </div>
                        </form>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            @for (int i = 0; i < ViewBag.count; i++)
                            {
                                foreach (var sach in ViewBag.ds)
                                {
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="popular-img">
                                                <img src="@sach.Hinh" height="430px" alt="">
                                                <div class="img-cap">
                                                    <span style="background-color:rgba(135, 14, 14, 0.84)"><a href="@Url.Action("AddIntoCart", "Home", new { maSach = sach.MaSach })"><i class="fa fa-shopping-cart" style="font-size:30px"></i> PURCHASE</a></span>
                                                </div>
                                                <div class="favorit-items">
                                                    <span class="flaticon-heart"></span>
                                                </div>
                                            </div>
                                            <div class="popular-caption">
                                                <h3><a href="@Url.Action("Details","Saches",new { id = sach.MaSach })">@sach.TenSach</a></h3>
                                                <span style="color:orangered">@sach.GiaBan.ToString("#,##0").Replace(',', '.') $</span>
                                            </div>
                                        </div>
                                    </div>

                                }
                                break;
                            }
                        </div>
                    </div>

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                @if (ViewBag.page > 0)
                                {
                                    <a href="@Url.Action("Shop","Home",new { page = ViewBag.page -1,quantityBook = ViewBag.quantityBook})" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                }
                            </li>
                            @for (int i = 0; i <= ViewBag.count; i++)
                            {
                                if (ViewBag.page == null || ViewBag.page == i)
                                {
                                    <li class="page-item">
                                        <a style="background-color:#ccc;border:1px solid" href="@Url.Action("Shop","Home",new { page =i ,quantityBook = ViewBag.quantityBook })" class="page-link">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a href="@Url.Action("Shop","Home",new { page =i ,quantityBook = ViewBag.quantityBook })" class="page-link">@i</a>
                                    </li>
                                }

                            }
                            @if (ViewBag.page < ViewBag.count)
                            {
                                <li class="page-item">
                                    <a href="@Url.Action("Shop","Home",new { page = ViewBag.page +1,quantityBook = ViewBag.quantityBook})" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            }

                        </ul>
                    </nav>
                    <!-- Card two -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                            @foreach (var sach in ViewBag.danhmuc1)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="single-popular-items mb-50 text-center">
                                        <div class="popular-img">
                                            <img src="@sach.Hinh" height="430px" alt="">
                                            <div class="img-cap">
                                                <span style="background-color:rgba(135, 14, 14, 0.84)"><a href="@Url.Action("AddIntoCart", "Home", new { maSach = sach.MaSach })"><i class="fa fa-shopping-cart" style="font-size:30px"></i> PURCHASE</a></span>
                                            </div>
                                            <div class="favorit-items">
                                                <span class="flaticon-heart"></span>
                                            </div>
                                        </div>
                                        <div class="popular-caption">
                                            <h3><a href="@Url.Action("Details","Saches",new { id = sach.MaSach })">@sach.TenSach</a></h3>
                                            <span style="color:orangered">@sach.GiaBan.ToString("#,##0").Replace(',', '.') $</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Card three -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                            @foreach (var sach in ViewBag.danhmuc2)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="single-popular-items mb-50 text-center">
                                        <div class="popular-img">
                                            <img src="@sach.Hinh" height="430px" alt="">
                                            <div class="img-cap">
                                                <span style="background-color:rgba(135, 14, 14, 0.84)"><a href="@Url.Action("AddIntoCart", "Home", new { maSach = sach.MaSach })"><i class="fa fa-shopping-cart" style="font-size:30px"></i> PURCHASE</a></span>
                                            </div>
                                            <div class="favorit-items">
                                                <span class="flaticon-heart"></span>
                                            </div>
                                        </div>
                                        <div class="popular-caption">
                                            <h3><a href="@Url.Action("Details","Saches",new { id = sach.MaSach })">@sach.TenSach</a></h3>
                                            <span style="color:orangered">@sach.GiaBan.ToString("#,##0").Replace(',', '.') $</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <!-- End Nav Card -->
                </div>
            </div>
        </section>
        <!-- Latest Products End -->
    </main>


</body>
</html>
