@model IEnumerable<TMDT_Web.Models.Domain.Order>
@{
    ViewBag.Title = "ordersFinish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top:100px">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h2 style="text-align:center">Trang Đơn Hàng Đã Hoàn Thành</h2>
            </div>
        </div>
        <div class="side_bar_blog col-md-3">
            <h4>Quản Lý</h4>
            <div class="categary">
                <ul>
                    <li><a href="@Url.Action("Index","AdminHome",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Trang Chủ Admin</a></li>
                    <li><a href="@Url.Action("Management","Finance",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Trang Thống kê</a></li>
                    <li><a href="@Url.Action("index","discount",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Trang Tạo Mã Giảm Giá</a></li>
                    <li><a href="@Url.Action("Index","Company",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Công Ty</a></li>
                    <li><a href="@Url.Action("Index","Brand",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Hãng Của Công Ty</a></li>
                    <li><a href="@Url.Action("Index","Product",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Sản Phẩm</a></li>
                    <li><a href="@Url.Action("Index","User",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Tài Khoản</a></li>
                    <li><a href="@Url.Action("Index","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Đơn Hàng</a></li>
                    <li><a href="@Url.Action("ordersAccept","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Đơn Hàng Đã Nhận</a></li>
                    <li><a href="@Url.Action("ordersWaiting","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Đơn Hàng Đang Chờ</a></li>
                    <li><a href="@Url.Action("ordersTrans","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Đơn Hàng Đã Vận CHuyển</a></li>
                    <li><a href="@Url.Action("ordersFinish","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Đơn Hàng Hoàn Thành</a></li>
                    <li><a href="@Url.Action("ordersCancel","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Đơn Hàng Đã Hủy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" style="margin-top:30px">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTimeOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Account.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Payment Method</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.UserID == null)
                    {
                        <tr>
                            <td>@item.OrderID</td>
                            <td>@item.DateTimeOrder</td>
                            <td></td>
                            @if (item.Status == null)
                            {
                                <td>Waiting For Accept</td>
                            }
                            else if (item.Status == 1)
                            {
                                <td>Order Accepted</td>
                            }
                            else if (item.Status == 2)
                            {
                                <td>Order Canceled</td>
                            }
                            else if (item.Status == 3)
                            {
                                <td>Transport</td>
                            }
                            else if (item.Status == 4)
                            {
                                <td>Finish</td>
                            }

                            @if (item.TypePayment == 1)
                            {
                                <td>Cash payment</td>
                            }
                            else if (item.TypePayment == 2)
                            {
                                <td>Momo payment</td>
                            }
                            else
                            {
                                <td>Paypal payment</td>
                            }
                            <td>
                                <div class="row">
                                    @if (item.Status == null)
                                    {
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Accept", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="OK"/>
                                                <label>Accept Order</label>
                                            </form>
                                        </div>}
                                    @if (item.Status == 1)
                                    {
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Transport", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="OK"/>
                                                <label>Trans</label>
                                            </form>
                                        </div>}
                                    @if (item.Status == 2)
                                    {
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Finish", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="OK"/>
                                                <label>Finish</label>
                                            </form>
                                        </div>
                                    }
                                    @if (item.Status == 3)
                                    {
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Cancel", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="OK"/>
                                                <label>Cancel Order</label>
                                            </form>
                                        </div>
                                    }
                                    
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Detail", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="Xem" />
                                                <label>Detail Order</label>
                                            </form>
                                        </div>
                                    
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item.OrderID</td>
                            <td>@item.DateTimeOrder</td>
                            <td>@item.Account.UserName</td>
                            @if (item.Status == null)
                            {
                                <td>Waiting For Accept</td>
                            }
                            else if (item.Status == 1)
                            {
                                <td>Order Accepted</td>
                            }
                            else if (item.Status == 2)
                            {
                                <td>Order Canceled</td>
                            }
                            else if (item.Status == 3)
                            {
                                <td>Transport</td>
                            }
                            else if (item.Status == 4)
                            {
                                <td>Finish</td>
                            }

                            @if (item.TypePayment == 1)
                            {
                                <td>Cash payment</td>
                            }
                            else if (item.TypePayment == 2)
                            {
                                <td>Momo payment</td>
                            }
                            else
                            {
                                <td>Paypal payment</td>
                            }
                            <td>
                                <div class="row">
                                    @if (item.Status == null)
                                    {
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Accept", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="OK"/>
                                                <label>Accept Order</label>
                                            </form>
                                        </div>}
                                    @if (item.Status == 1)
                                    {
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Transport", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="OK"/>
                                                <label>Trans</label>
                                            </form>
                                        </div>}
                                    @if (item.Status == 2)
                                    {
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Finish", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="OK"/>
                                                <label>Finish</label>
                                            </form>
                                        </div>
                                    }
                                    @if (item.Status == 3)
                                    {
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Cancel", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="OK"/>
                                                <label>Cancel Order</label>
                                            </form>
                                        </div>
                                    }
                                    
                                        <div class="col-sm-2">
                                            <form action="@Url.Action("Detail", "Order", new { id = item.OrderID })">
                                                <input type="submit" value="Xem" />
                                                <label>Detail Order</label>
                                            </form>
                                        </div>
                                    
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

