@model IEnumerable<Final.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:800">Book List</h3>
                    <div class="box-tools">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <a class="pull-right btn btn-sm btn-default" href="@Url.Action("Create","Saches")"><i class="fa fa-plus"></i><span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> Create</span></a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr style="font-family:sans-serif">
                                <th>
                                    @Html.DisplayNameFor(model => model.MaDanhMuc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenSach)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GiaBan)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayXuatBan)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LoaiBia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoTrang)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Hinh)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.DanhMucs.TenDanhMuc
                                    </td>
                                    <td>
                                        @item.TenSach
                                    </td>
                                    <td>
                                        @item.GiaBan
                                    </td>
                                    <td>
                                        @item.NgayXuatBan
                                    </td>
                                    <td>
                                        @item.LoaiBia
                                    </td>
                                    <td>
                                        @item.SoTrang
                                    </td>
                                    <td>
                                        <img src="@item.Hinh" width="50px" height="60px" />
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("Edit","Saches", new { id = item.MaSach })"><i class="fa fa-edit"></i></a>
                                        
                                        <a class="btn btn-danger" href="@Url.Action("Delete","Saches", new { id = item.MaSach })"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section><!-- /.content -->