@model IEnumerable<TMDT_Web.Models.Domain.Order>
@{
    ViewBag.Title = "HistoryOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Danh sách sản phẩm & side bar -->
<div class="section" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Lịch Sử Đơn Hàng</h2>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date Time</th>
                            <th>User Name</th>
                            <th>Status</th>
                            <th>Payment Method</th>
                            <th></th>
                        </tr>
                        @foreach (var item in ViewBag.order)
                        {
                            <tr>
                                <td>@item.OrderID</td>
                                <td>
                                    @item.DateTimeOrder
                                </td>
                                <td>@item.Account.UserName</td>
                                @if (item.Status == null)
                                {
                                    <td>Waiting for accept</td>
                                }
                                else if (item.Status == 1)
                                {
                                    <td>Accepted</td>

                                }
                                else if (item.Status == 2)
                                {
                                    <td>Cancel</td>
                                }
                                else if (item.Status == 3)
                                {
                                    <td>Transport</td>
                                }
                                else if (item.Status == 4)
                                {
                                    <td>Finish</td>
                                }

                                @if (item.TypePayment == 1)
                                {
                                    <td>Cash payment</td>
                                }
                                else if (item.TypePayment == 2)
                                {
                                    <td>Momo payment</td>
                                }
                                else
                                {
                                    <td>Paypal payment</td>
                                }
                                <td><a href="@Url.Action("OrderDetail","OrderProgress",new { id=item.OrderID})">View Detail...</a></td>
                            </tr>
                        }
                    </table>
                </div>
            }
            else
            {
            <div class="col-sm-12">
                <form action="@Url.Action("HistoryOrder","OrderProgress")">
                    <input type="text" name="num" />
                    <input type="submit" />
                </form>
            </div>
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date Time</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    @foreach (var item in ViewBag.order)
                    {
                        <tr>
                            <td>@item.OrderID</td>
                            <td>@item.DateTimeOrder</td>
                            <td>@item.OrderPhoneNumber</td>
                            @if (item.Status == null)
                            {
                                <td>Waiting for accept</td>
                            }
                            else if (item.Status == 1)
                            {
                                <td>Accepted</td>

                            }
                            else if (item.Status == 2)
                            {
                                <td>Cancel</td>
                            }
                            else if (item.Status == 3)
                            {
                                <td>Transport</td>
                            }
                            else if (item.Status == 4)
                            {
                                <td>Finish</td>
                            }
                            <td><a href="@Url.Action("OrderDetail","OrderProgress",new { id=item.OrderID})">View Detail...</a></td>
                        </tr>
                    }
                </table>
            </div>
            }
        </div>
    </div>
</div>
<!-- Kết ds sản phẩm -->
