
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Cart List</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (dynamic)ViewData["data"])
                            {
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="@item.Hinh" style="width:540px;height:185px" alt="" />
                                            </div>
                                            <div class="media-body">
                                                <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:600">@item.TenSach</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:600">@item.DonGia.ToString("#,##0").Replace(',', '.') $</h5>
                                    </td>
                                    <td>
                                        <form action="@Url.Action("UpdateQuantity","Home")" method="get">
                                            <input type="hidden" name="maSach" value="@item.MaSach" />
                                            <div class="row">
                                                <div class="product_count pull-left">
                                                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                                                    <input class="input-number" type="text" value="@item.SoLuong" name="newQuantity" min="0" max="10">
                                                    <span class="input-number-increment"> <i class="ti-plus"></i></span>

                                                </div>
                                                <div class="pull-right"><button style="height:50px;margin-left:5px" type="submit" class="genric-btn success"> <i class="ti-reload"></i></button></div>
                                            </div>
                                            
                                            
                                        </form>
                                    </td>
                                    <td>
                                        <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:800"> @item.ThanhTien.ToString("#,##0").Replace(',', '.') $</h5>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("DeleteItemFromCart","Home",new { maSach = item.MaSach})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="genric-btn danger"><i class="fa fa-trash"></i></a>

                                    </td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5 style="font-size:20px">Subtotal</h5>
                                </td>
                                <td>
                                    <h5 style="color:darkred;font-weight:600;font-size:20px">@ViewBag.totalMoney.ToString("#,##0").Replace(',', '.') $</h5>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right">
                        <a class="genric-btn danger radius" href="@Url.Action("DeleteCart","Home")" onclick="return confirm('Bạn có chắc muốn xóa giỏ hàng này?');">Remove All</a>
                        <a class="genric-btn success radius" href="@Url.Action("AddIntoDatabase","Home")">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
</main>

